.githubcommitscard {
    background-color: #1c1c1c; // Fundo escuro para contraste
    border-radius: 10px; // Bordas arredondadas
    padding: 10px; // Espaçamento interno
    color: #ffffff; // Texto branco
    max-width: 800px; // Largura máxima aumentada
    height: 22  0px;
    margin: 0 auto; // Centraliza horizontalmente
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Sombra sutil
  
    h2 {
      text-align: center; // Centraliza o título
      margin-bottom: 20px; // Espaçamento inferior
      font-family: 'Arial', sans-serif; // Fonte personalizada
      font-size: 24px; // Tamanho da fonte do título
    }
  
    .react-activity-calendar {
      .day {
        stroke: #444; // Cor da borda dos dias
        width: 5px; // Tamanho menor dos commits
        height: 5px; // Tamanho menor dos commits
      }
  
      .react-activity-calendar__legend-colors {
        li {
          background: #39d353; // Cor personalizada para a legenda
          height: 5px; // Altura menor da legenda
          width: 5px; // Largura menor da legenda
        }
      }
  
      .react-activity-calendar__months {
        text {
          fill: #bbb; // Cor dos textos dos meses
        }
      }
  
      .react-activity-calendar__weekdays {
        text {
          fill: #bbb; // Cor dos textos dos dias da semana
        }
      }
    }
  
    // Responsividade
    @media (max-width: 600px) {
      padding: 10px;
      h2 {
        font-size: 20px;
      }
  
      .react-activity-calendar {
        .day {
          width: 8px; // Tamanho menor dos commits em telas pequenas
          height: 8px; // Tamanho menor dos commits em telas pequenas
        }
      }
    }
  }
  