.content-5{
    text-decoration: none;
    background-image: linear-gradient(160deg, #090909ab 0%, #0000009c 127%);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.1, 0, 0.1, 1);
    transition-duration: 500ms;
    transition-duration: 600ms;
  
     img{
       height: 150px;
       width: 150px;
       bottom: 25px;
       left: 15px;
       align-items: center;
       position: relative;
       margin: 1rem;
       transition-property: all;
       transition-timing-function: cubic-bezier(0.1, 0, 0.1, 1);
       transition-duration: 500ms;
       transition-duration: 600ms;
  
     }
     
    h2{
      position: relative;
      top: 140px;
      right: 115px;
      font-size: 1.2rem;
      text-shadow: 0 0 5px #131e30, 0 0 15px #131e30, 0 0 20px #131e30, 0 0 40px #131e30, 0 0 60px #031738, 0 0 10px #afc4e5, 0 0 98px #83878d;
      
      
  }
  }
  
  .content-5:hover {
    box-shadow: 0 0 20px, rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  