.project-card {
  height: 100%;
  text-decoration: none;
  background-image: linear-gradient(160deg, #090909ab 0%, #0000009c 127%);
  transition: all 600ms cubic-bezier(0.1, 0, 0.1, 1);
  background-image: linear-gradient(160deg, #090909ab 0%, #0000009c 127%);


  
  display: grid;
  place-items: center;

  img {
    position: relative;
    bottom: 10px;
    right: 10px;
    width: 180px;
    transition-property: all;
    transition: all 600ms cubic-bezier(0.1, 0, 0.1, 1);
  }
    
  h2{
    position: relative;
    bottom: 20px;
    font-size: 1.2rem;
    color: #ffffff;
    text-shadow: 0 0 1px #fb0035, 0 0 2px #fb0035, 0 0 3px #fb0035, 0 0 4px #fb0035;
  
  }
}
  
.project-card:hover {
  box-shadow: 0 0 20px, rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
  
