.contact-card {
    background: linear-gradient(160deg, #0909097a 0%, #00000074 127%);
    height: 450px;
    position: relative;
    overflow: hidden;

    display: grid;
    place-items: center;

  svg{
    fill: #fb0035;
    padding: 11px; 
  }
  svg:hover{
    fill: #fb003622;
  }
}


.form{
  display: flex;
  flex-direction: column;
  width: 70%;
  
  @media (max-width: 700px) {
    width: 90%;
  } 

  h2{
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 0 0 1px #fb0035, 0 0 2px #fb0035, 0 0 3px #fb0035, 0 0 4px #fb0035;
  }
}

.input{
  background-color: #fb00366d;
  margin-bottom: 14px;
  height: 34px;
  border-radius: 5px;
  padding: 0 8px;
  color: rgb(255, 255, 255);
  box-shadow: 0 8px 32px 0 #fb00366b;
  border: 1px solid rgba(255, 255, 255, 0.18);  
 
}

.textarea{
  background-color: #fb00366d;
  margin-bottom: 14px;
  border-radius: 5px;
  border: 0;
  padding: 8px;
  height: 94px;
  resize: none;
  color: rgb(255, 255, 255);
  box-shadow: 0 8px 32px 0 #fb00366b;
  border: 1px solid rgba(255, 255, 255, 0.18);
} 


.button{
  height: 34px;
  width: 120px;
  border-radius: 5px;
  
  border: 0;
  cursor: pointer;
  background-color: #fb00366d;
  font-size: 20px;
  transition: background-color, transform 0.8s;
}

.button:hover{
  background-color: #fb003622;
  transform: scale(1.01);
}