.github-card {
    height: 200px;
    background-image: url('../../public/home/github.gif');
    background-size: 100%;
    background-repeat: no-repeat;


    transition: all 600ms cubic-bezier(0.1, 0, 0.1, 1);
    transition-property: all; 
}

.github-card:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../public/home/github.gif');
        background-size: 100%;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px, rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.icons{
    #github{
        position: relative;
        left: 25px;
        top: 12px;
        height: 30px;
        width: 30px;
        fill: #c6e2ff;
    }
    

    #arrow{
        margin: 2px;
        position: relative;
        top: 6px;
    }

    h2{
        margin-left: 10px;
        margin-top: 20px;
        position: relative;
        top: 95px;
        font-size: 1.2rem; 
        color: #ffffff;
        text-shadow: 0 0 1px #fb0035, 0 0 2px #fb0035, 0 0 3px #fb0035, 0 0 4px #fb0035;
    }
}