.content-1 {
  text-decoration: none;
  width: 270px;
  height: 200px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.1, 0, 0.1, 1);
  transition-duration: 500ms;
  transition-duration: 600ms;
  background-image: linear-gradient(160deg, #090909ab 0%, #0000009c 127%);

   svg{
     height: 85px;
     width: 85px;
     align-items: center;
     left: 4.4rem;
     top: 2rem;
     position: relative;
     margin: 1.5rem;
     transition-property: all;
     transition-timing-function: cubic-bezier(0.1, 0, 0.1, 1);
     transition-duration: 500ms;
     transition-duration: 600ms;

   }
}

.content-1:hover {
  box-shadow: 0 0 20px, rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);

  svg:hover{
    box-shadow: 0 0 20px, rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(0.0);
    transform: scale(1.1);
  }
}

