.me-card {
  padding: 35px;
  margin-top: 35px;
  background: linear-gradient(160deg, #090909ab 0%, #0000009c 127%);

  
  h2{
    margin-bottom: 40px;
    text-align: center;
    font-size: 1.5rem;
    white-space: nowrap;
    color: #ffffff;
    text-shadow: 0 0 1px #7d06c4, 0 0 2px #7d06c4, 0 0 3px #7d06c4, 0 0 4px #7d06c4;
    font-weight: bold;
  }
  
  p{
    text-shadow: 0 0 1px #7d06c4;
    font-size: 1.05rem;
  }

  img{
    position: relative;
    top: 7px;
    height: 35px;
    width: 35px;
  }
}


