.notfound {
animation: fade-in 2s;
display: grid;
place-items: center;
top: 250px;
position: relative;
text-shadow: 0 0 1px  #6f30c7, 0 0 2px #6f30c7, 0 0 3px #b038f0, 0 0 4px #b038f0;

    h1 {
       color: #ffffff;
    }
    a{
        color: #ffffff;
    }
    a:hover{
        color: #2d0840;
        cursor: pointer;
      }
    }


    @media (max-width: 600px) {
        .notfound{
            align-items: center;
        }
      }


@keyframes fade-in {
0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
}

100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
}
}
