  #projectpage {
        background: linear-gradient(
          rgba(0, 0, 0, 0.100), rgba(0, 0, 0, 0.900)), url('../../public/backgrounds/bg2.jpg'
        );
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  
    font-family: "Poppins", sans-serif;
    padding: 60px;
    
    @media (max-width: 600px) {
      padding: 20px;
    }
  }
  

  @keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
  
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
  }
  