.spotify-card {
  height: 237px;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 1rem;


  box-shadow: 0 0 20px, rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  transition: all 600ms cubic-bezier(0.1, 0, 0.1, 1);
  transition-property: all;
}

#spotify {
  position: relative;
  top: 15px;
  left: 15px;
  height: 30px;
  width: 30px;
  fill: #c6e2ff;
  z-index: 1;
}


.listen {
  display: grid;
  place-items: start;

  p {
    color: #c6e2ff;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 60px;
    position: relative;
    bottom: 12px;

  }

  img {
    border: #9400d378 1px solid;
    border-radius: 20px;
    margin-left: 40px;
    object-fit: cover;
    height: 150px;
    width: 150px;
    z-index: 999;
  }



  #listentext  {
    margin-left: 220px;
    position: relative;
    bottom: 130px;
    word-break: break-word;
  }
  
  h1{
    text-shadow: 0 0 1px #9400d3, 0 0 2px #9400d3, 0 0 3px #9400d3, 0 0 4px #9400d3;
  }

  h2 {
    font-size: 1.3rem;
    color: #c6e2ff;
  }

  h3 {
    font-size: 1rem;
    text-shadow: 0 0 1px #9400d3, 0 0 2px #9400d3, 0 0 3px #9400d3, 0 0 4px #9400d3;
  }
}


.spotifyclosed{
  text-align: center;
  align-items: center;
  top: 10px;
  position: relative;
  p{
    font-size: 2rem;
    text-shadow: 0 0 1px #9400d3, 0 0 2px #9400d3, 0 0 3px #9400d3, 0 0 4px #9400d3;
  }
  svg{
    height: 45px;
    width: 45px;
    fill: #9400d3;
  }
}



@media (max-width: 599px) {
  #listentext{
    font-size: 1rem;
  }
}


.spotify-card:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


