.tec-card {
    height: 237px;
    display: grid;
    place-content: center;
    background-color: #330e4928;


    svg{
        margin: 12px;
        fill: #c6e2ff;
        z-index: 999;
    }
    svg:hover{
        fill: #a200ff46;
        cursor: pointer;
      }
}
