.tec-card {
    height: 237px;
    display: grid;
    place-content: center;
    background-color: #00000080;;
    
    svg{
        margin: 11px;
        fill: #7d06c4; 
        z-index: 999;
    }
    svg:hover{
        fill: #1f0542;
        cursor: pointer;
      }
}


@media (max-width: 736px) {
    .tec-card svg{
        margin: 5px;
    }
}