.content-3 {
    height: 250px;
    width: 270px;
    backdrop-filter: blur(10px);
    text-shadow: 0 0 5px #131e30, 0 0 15px #131e30, 0 0 20px #131e30, 0 0 40px #131e30, 0 0 60px #031738, 0 0 10px #afc4e5, 0 0 98px #83878d;
    
    
    img{
        height: 250px;
        width: 270px;
        border-radius: 1rem;
    }
    
    h2{
     z-index: 999;
     font-size: 1.2rem;
     position: relative;
     right: 195px;
     display: inline-block;
     top: 135px;
     color: #c6e2ff;
    }

}

.clock {
    font-size: 3rem;
    z-index: 999;
    position: relative;
    right: 350px;
    top: 80px;
  }



  .imagetime{
    height: 150px;
    width: 150px;
  }

