.time-card {
    backdrop-filter: blur(10px);
    text-shadow: 0 0 5px #131e30, 0 0 15px #131e30, 0 0 20px #131e30, 0 0 40px #131e30, 0 0 60px #031738, 0 0 10px #afc4e5, 0 0 98px #83878d;
    
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    place-items: center;
    
    & > * {
      grid-column: 1;
      grid-row: 1;
    }
    
    img{
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 1rem;
    }
    
    h2{
     font-size: 1.2rem;
     display: inline-block;
     color: #c6e2ff;
     transform: translateY(40px);
    }

}

.clock {
    font-size: 3rem;
}

